<!doctype html>
<title>Home</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
<link rel="shortcut icon" href={{ url_for('static', filename='css/favicon.ico') }} type="image/x-icon">
<link rel="icon" href={{ url_for('static', filename="css/favicon.ico") }} type="image/x-icon">
<a href="/index">Home</a>
<div class=page>
  <h1>Home</h1>
  <div class=metanav>
  {% if current_user.is_authenticated() %}
      <p><a href="{{ url_for('show_picture') }}">show all images</a></p>
      <p><a href="{{ url_for('create_picture') }}">Make new image</a></p>
      <p><a href="{{ url_for('logout') }}">log out</a></p>
  {% else %}
    <a href="{{ url_for('login') }}">log in</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>